@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font-family: roboto;
}

html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: #34312c;
}

.conteudo{
    width: 100wh;
}

h1, h2{
    color: #FFFF00;
}

/* Cabeçalho */
.navbar{
    width: 100%;
    height: 70px;
    background-color: #4F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 34px;
}

.navbar img{
    width: 100px;
    border-radius: 5px;
}

.navbar .nav-menu{
    display: flex;
    gap: 50px;
}

.nav-menu a{
    color: white;
}

.nav-menu a:hover{
    color: #FFFF00;
    border-bottom: 2px solid #FFFF00;
}

/* Menu Responcivo */
.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Sobre */
main{
    padding-top: 70px;
}

.portfolio{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.portfolio h1{
    padding: 10px;
    font-size: 40px;
}

.portfolio h2{
    padding: 10px;
    font-size: 30px;
}

.content .eu{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.eu p{
    width: 600px;
    color: #fff;
}

.eu img{
    width: 300px;
}

/* Projetos */
.projetos h2{
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.projetos .proj-ideias{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.proj-ideias .proj img{
    width: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(33, 32, 32);
    transition: all 0.3s ease-in-out;
}

.proj-ideias .proj a{
    display: block;
    margin: 1rem;
    padding: 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.proj-ideias .proj a:hover{
    color: #FFFF00;
    border: 1px solid #FFFF00;
}

/* Certificado */
.certificados h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
}

.certificados-img{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.certificados-img img{
    width: 100%;
    height: 200px;
}

/* Contatos */
.contatos{
    padding-bottom: 20px;
}
.contatos h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
}

.contatos-rede{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.contatos-git img{
    width: 50px;
}

.contatos-link img{
    width: 50px;
}

footer{
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer p{
    color: #fff;
}

@media (max-width: 992px){
   html{
    font-size: 90%;
   }

   .content .eu{
        flex-direction: column;
   }

   .eu img{
        width: 250px;
   }
}

@media (max-width: 768px){

    .navbar .hamburguer{
        display: block;
        margin: 10px;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: o o 10px 10px;
        background-color: rgb(30, 30, 30, 0.7);
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 25px;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .projetos .proj-ideias{
        flex-direction: column;
    }

    .certificados-img img{
        width: 90%;
        margin-left: 1.5rem;
    }
}

@media (max-width: 600px){
    .content .eu p{
        width: 500px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 500px){
    .content .eu p{
        width: 350px;
    }

    .contatos .contatos-git img,
    .contatos .contatos-link img{
        width: 40px;
    }
}

@media (max-width: 395px){
    .content .eu p{
        width: 300px;
    }

    .proj-ideias a{
        font-size: 18px;
    }
}